/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

#content-wrapper {
    z-index: -1;
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px 20px 0;
    height: 100px;
}

#main-wrapper {
    background-color: wheat;
    width: 600px;
    flex-grow: 1;
}

#aside-wrapper {
    background-color: yellow;
    width: 240px;
    flex-grow: 0; /* auto changed */
}

.left-align {
    margin-left: 40px;
        background-color: violet;
}

#content-wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    background-color: violet;
    height: 100px;
}

#content-wrapper-2>div:not(:first-child){
    margin-left: 40px;
}

#main-wrapper-2 {
    width: 600px;
    flex-grow: 1;    
    background-color: wheat;
}

#aside-wrapper-2 {
    width: 240px;
    flex-grow: 0;
    background-color: yellow;
}

.float-demo {
    margin: -40px 40px 0 40px;
    background-color: thistle;
    padding: 20px;
}

.float-demo>img {
    margin-right: 20px;
    float: left;
    width: 120px;
}

.position-demo {
    height: 120px;
    background-color: turquoise;
}
